title: 高阳臻个人成果
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: 高阳臻 # add your name
author-img: gaoyangzhen.jpg # add your photo
about-author: "2020应届生    硕士    贵州大学    机械工程"
social-QQ:  # add your Twitter handle
social-WeChat: GaoYangZhen_ # add your Facebook handle
social-email: gs.yzgao17@gzu.edu.cn # add your Email address
social-linkedin: # add your Linkedin handle


# Disqus
discus-identifier: mr-brown # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 8
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]

